:root {
    --cor-primaria: #125360;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #101026;
}

a {
    color: var(--cor-primaria); 
    text-decoration: none; 
}

a:hover {
    color: #FFFFFF; 
}

body {
    background-color: var(--cor-terciaria);
    color: var(--cor-fonte-claro);
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    transition: background 0.2s linear;
}
.projetos h1{
    margin-left: 6%;
    margin-bottom: 2%;
}

.modoTexto {
    margin-left: 25px;
    font-size: 20px;
}

body.dark {
    background-color: black;
    color: white;
}

body h1 {
    color: var(--cor-primaria);
}

body.dark h1 {
    color: var(--cor-primaria);
}


header.dark {
    background-color: #333;
    color: #fff; 
}

.darkmodebotao{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}
.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  
  }
  
  
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #f39c12;
  }

footer {
    color: var(--cor-secundaria);
}

.botoes_header {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center; 
    color: var(--cor-primaria); 
}

.header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 90px; 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.botoes_header .botao {
    height: 30px; 
    line-height: 30px;
}

.botao{
    display: flex;
    margin-left: 9%;
}

.botoes_header .botao:last-child {
    margin-right: 0;
}

@keyframes animabotao {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

.opcao_tela_inical:hover{
    animation-name: animabotao;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.apresentacao_texto {
    color: var(--cor-secundaria);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-right: 7%;
    flex-wrap: wrap;    
}
.opcoes_tela_inicial {
    display: flex;
    margin-right: 30%;
    margin-left: 0;
    flex-direction: row;
    gap: 20%;
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 10%;
    
}
header.rolagem{
    background-color: #F2D6D6;
}

header.rolagem.dark{
    background-color: black;
}

.opcoes_tela_inicial a {
    text-decoration: none;
    color: var(--cor-primaria); 
    font-family: 'Do Hyeon'; 
    border: 1px solid var(--cor-primaria); 
    padding: 10px; 
    margin-right: 20px;
    border-radius: 5px; 
    margin-bottom: 10px; 
    transition: background-color 0.3s ease; 
}

.opcoes_tela_inicial a:hover {
    background-color: var(--cor-primaria); 
    color: #FFFFFF; 
    cursor: pointer;
}
.tela_inicial_texto{
    font-family: 'Do Hyeon';
    margin-top: 4%;
    font-size: 20px;
}

.tela_inicial {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-end;
    margin-top: 8%;
    margin-bottom: 4%;
    margin-right: 0%;
    margin-left: 10%;
    width: 80%;

}


.texto_botao {
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: var(--cor-primaria);
}

.rede_botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 14px;
    border: 2px solid var(--cor-primaria);
    border-radius: 8px;
    margin-bottom: 2%;
    color: var(--cor-secundaria);
    height: 40px;
    width: 378px;
}

.rede_botao:hover {
    border-color: var(--cor-secundaria);
}

.rede_botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: var(--cor-secundaria);
    margin-top: -9%;
}

.about_me_ap{
    font-size: 20px;
    justify-content: center;
    align-items: center;
}


.fotokayky {
    max-width: 488px;
    max-height: 552px;
    border-radius: 9%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-left: 10%;
    margin-right: 0%;
}

.about-me{
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 6%;
    align-items: center;
}

.about_me_texto{
    margin-top: 4%;
}
.img_code{
    border-radius: 9%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: fit-content;
    max-width: 100%;
}


.nome {
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    margin-right: 20px;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: 0.09em;
    color: var(--cor-secundaria);
}
.tela_inicial_esquerdo h3 {
    color: #FF5733;
}



.nome strong {
    color: var(--cor-primaria);
}

.image {
     max-width:200px;
     max-height:150px;
     width: auto;
     height: auto;
}

.img_insta {
    max-width:45px;
    max-height:100px;
    width: auto;
    height: auto;
}

li {
    list-style-type: none;
}

footer {
    display: flex;
    align-items: center;
    margin-top: 2%;
    justify-content: center;
    font-family: 'Lato'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 16px; 
    line-height: 36px;
}
.habilidades{
    display: flex;
    flex-direction: column;
    padding: 6%;
}
/* HABILIDADES */

.habilidades_titulo {
    font-style: normal;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0.09em;
}

.habilidades_titulo strong {
    color: var(--cor-primaria);
}

.habilidades_texto {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-right: 7%;
    flex-wrap: wrap;
}
.opcoes_container li{
    display: flex;
    margin-top: 2%;
    columns: black;
    margin-bottom: 4%;
}

.botao_certificados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 14px;
    border: 2px solid var(--cor-primaria);
    border-radius: 8px;
    margin-bottom: 2%;
    color: var(--cor-secundaria);
    height: 40px;
    width: 378px;   
}

.tela_inicial_esquerdo {
    position: absolute;
    left: 4%; 
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column;
}



.habilidades_tela {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 6%;
}

.habilidades_tela_esquerda {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-right: 8%;
}

/* PROJETOS */

.projetos_titulo {

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    margin-top: 9%;
}

.projetos_titulo strong {
    color: var(--cor-primaria);
}

.projetos_texto {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-right: 7%;
    flex-wrap: wrap;
}

.projetos_tela {
    margin-top: 6%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 6%;
}

.projetos_imagens {
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
    margin-right: 6%;
    margin-top: 4%;
}

.imagem_projeto:hover {
    border-color: var(--cor-primaria);
    border-radius: 10%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    background-color: wheat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.background-container {
    position: relative;
    z-index: 1; 
}
.redes_sociais_img{
    max-width: 50px;
}

.redes_sociais{
    margin-top: 6%;
}
.logos_redes{
    margin-top: 4%;
    display: flex;
    gap: 5%;
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    /* background: #1d1d2e; */
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

section h2 {
    font-size: 2.5rem;
    margin: 2rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    font-size: 1.063rem;
    margin-bottom: 4px;
}

form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 0.938rem;
    transition: all 0.5s;
}

form input:focus {
    border-radius: 16px;
}

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 0.938rem;
    margin-bottom: 30px;
    transition: all 0.5s;
}

form textarea:focus {
    border-radius: 16px;
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 1rem;
    background: transparent;
    border: 2px solid var(--cor-secundaria);
    color: var(--cor-fonte-claro);
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover {
    background: var(--cor-secundaria);
    color: var(--cor-terciaria);
    border-radius: 16px;
}

/* Página do Obrigado */

.main {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: var(--cor-terciaria);
   flex-direction: column;
}

.text {
    font-size: 2.813rem;
    color: var(--cor-secundaria);
    margin-bottom: 30px;
}

.paragrafo {
    color: var(--cor-secundaria);
    margin-bottom: 50px;
}

.btn {
    padding: 15px 55px;
    background: var(--cor-secundaria);
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 18px;
    transition: all 0.5s;
}

.btn:hover {
    border-radius: 16px;
}

.header_contato {
    margin-bottom: 4%;
}

.container_botao {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }

  .botoes_sobre {
    display: flex;
    gap: 5%;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2%;
  }

  .selecao_botao {
    cursor: pointer;
    color: var(--cor-fonte-claro);
  }

.img_logo{
    width: 100px;
}

.menu-hamburguer {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    padding: 10px;
    z-index: 1000; 
}

.menu-hamburguer:focus {
    outline: none; 
}

.selecao_botao {
    cursor: pointer;
    border: none; 
    background: none; 
    padding: 0;
    margin: 0;
    text-decoration: none; 
}


.selecao_botao.selected::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 3px solid #125360; 
    transition: width 0.3s ease; 
    margin-top: 2px; 
}




.selecao_botao.selected::after {
    width: 100%; 
}





.menu-hamburguer .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: background-color 0.3s ease;
}

.menu-hamburguer:hover .bar {
    background-color: #555; 
}

.footer_texto{
    color: #111;
}


/* Estilo para o menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    margin-top: 20%;
    padding: 20px;
    z-index: 999; 
    display: none; 
}



/* Estilo para os itens do menu */
.menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

/* Estilo para os itens do menu ao passar o mouse */
.menu a:hover {
    background-color: #555;
}

/* Estilo para o menu quando está aberto */
.menu.active {
    display: block;
}

.menu-hamburguer{
    display: none;
}

.opcoes li{
    list-style-type: square;
}
/* CARROSSEL */

.slideshow-container {
    
    width: 50%;
    position: relative;
    margin: auto;
}
.slideshow {
    display: none;
}
.slideshow img { width:100%; }
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.legenda {
    width: auto;
    color: #fdfdfd;
    font-size: 0.9em;
    padding:5px;
    position: absolute;
    bottom: 18%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    left: 10%;
}
.numeracao {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.paginacao { 
  
    width:100%; 
    float:left;
    margin: 10px 0;
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 4px;
    border-radius: 50px;
    background-color: #007cff;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.ativo,
.dot:hover {
    background-color: #242424;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999; 
  }
  
  .whatsapp-btn img {
    width: 60px; 
    height: auto;
  }
  
@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
/*960PX BREAKPOINT - Ajustando o texto para desktop*/
@media (min-width:60em){
    .legenda   { font-size:2em; padding:8px; }
    .paginacao { margin:20px 0; }
    .dot       { width:18px; height:18px; }
}

@media only screen and (max-width: 600px) {
    .header {
    }
    .projetos{
        padding: 6%;
    }
    .projetos h1{
        margin-left: 1%;
    }

    .slideshow-container{
        width: 100%;
    }
    .botao{
        display: none;
    }
    .botoes_header{
        display: flex;
        justify-content: center;
        gap: 90%;
    }
    .menu-hamburguer {
        display: block;
        margin-left: 6px;
    }

    .tela_inicial{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        margin-top: 29%;
        margin-bottom: -12%;
    }

    .tela_inicial_esquerdo{
        top: 25%; 
        padding: 6%;
        
    }
    .fotokayky {
        width: 50%;
        max-width: 300px;
        margin-left: 0;
        margin-top: 280px;
    }
    .opcoes_tela_inicial{
        display: flex;
        align-items: center;
        padding: 7%;
        margin-right: 0;
        gap: 8%;
    }

    .opcoes li{
        margin-top: 3%;
        display: flex;
        gap: 3%;
    }

    .about-me{
        display: flex;
        flex-direction: column;
        padding: 6%;
    }
    .about_me_ap{
        margin-top: 5%;
        font-size: 1.2rem;
    }
    section{
        margin-top: 25%;
    }
}